# Checking the different model performances obtained depending on the Lora config

In [1]:
import pickle
import numpy as np
import pandas as pd

METRICS = ['precision', 'recall', 'f1']

# Loading the results from the Full-Finetuning
with open('../Experiments/results_list_full_fine_tune_all_light.pkl', 'rb') as f:
    results_list_full_fine_tune = pickle.load(f)

# Loading the results from the Lora rank experiment
with open('../Experiments/results_list_lora_r_experiment_all_light.pkl', 'rb') as f:
    results_list_lora_r_experiment = pickle.load(f)

# Loading the results from the ablation study
with open('../Experiments/results_list_lora_ablation_all_light.pkl', 'rb') as f:
    results_list_lora_ablation = pickle.load(f)

**NB:** Dictionnary list structure guide:

- Full-Finetuning: List of 'baseline' dictionnaries which all hold the metrics keys: 'precision', 'recall' and 'f1'
- Lora r experiment: List of dictionnaries. Each dictionnary holds the keys corresponding to the r used in the experiment. For a given r, dictionnary[r] holds a baseline dictionnary.
- Lora ablation study: List of dictionnaries. Each dictionnary holds the keys corresponding to the experiment in the form (modules lora wath applied to, r). For a given such key, dictionnary[key] holds a baseline dictionnary.

### Agreggating the results

In [2]:
# Full Fine-Tuning
result_dict_full_fine_metrics = {}

for d in results_list_full_fine_tune:
    for key, value in d.items():
        if key in METRICS:
            result_dict_full_fine_metrics.setdefault(key, []).append(value)

# Lora rank experiment
result_dict_r_experiment_metrics = {k: {} for k in results_list_lora_r_experiment[0].keys()}
for dictionnary in results_list_lora_r_experiment:
    for r_key in dictionnary:
        for key, value in dictionnary[r_key].items():
            if key in METRICS:
                result_dict_r_experiment_metrics[r_key].setdefault(key, []).append(value)

# Lora ablation study
result_dict_ablation_experiment_metrics = {k: {} for k in results_list_lora_ablation[0].keys()}
for dictionnary in results_list_lora_ablation:
    for experiment_key in dictionnary:
        for key, value in dictionnary[experiment_key].items():
            if key in METRICS:
                result_dict_ablation_experiment_metrics[experiment_key].setdefault(key, []).append(value)

### Bootstraping to obtain better mean and confidence intervals

In [3]:
def boostrat_metrics(aggregated_dict, num_samples = 10_000):
    """
    From a dictionnary
    {metric 1: list of values, metric 2: list_of_values, ...}
    computes and returns new dictionnary
    {metric 1: 'mean +- std' metric 2: 'mean +- std' ...}
    """

    bootstraped_dict = {}

    for m in METRICS:
        data = aggregated_dict[m]

        # Initialize array to store bootstrap statistics
        bootstrap_stats = []

        for _ in range(num_samples):

            # Sample with replacement
            bootstrap_sample = np.random.choice(data, size=len(data), replace=True)
            # Calculate and store the mean
            bootstrap_stats.append(np.mean(bootstrap_sample))

        bootstraped_mean = np.mean(bootstrap_stats)
        std_error_bootstrap = np.std(bootstrap_stats)
        bootstraped_dict[m] = str(round(bootstraped_mean, 3)) + ' \u00B1 ' + str(round(std_error_bootstrap, 3))

    return bootstraped_dict

In [4]:
boostratped_dict_full_fine_tune = {'Full Fine Tuning': boostrat_metrics(result_dict_full_fine_metrics)}
boostratped_dict_full_fine_tune['Full Fine Tuning']['# experiments'] = len(result_dict_full_fine_metrics['f1'])

boostratped_dict_lora_r_experiments = {f'Lora with r={k}': boostrat_metrics(result_dict_r_experiment_metrics[k]) for k in result_dict_r_experiment_metrics.keys()}
for k in result_dict_r_experiment_metrics.keys():
    boostratped_dict_lora_r_experiments[f'Lora with r={k}']['# experiments'] = len(result_dict_r_experiment_metrics[k]['f1'])

boostratped_dict_lora_ablation_experiments = {k: boostrat_metrics(result_dict_ablation_experiment_metrics[k]) for k in result_dict_ablation_experiment_metrics.keys()}
for k in result_dict_ablation_experiment_metrics.keys():
    boostratped_dict_lora_ablation_experiments[k]['# experiments'] = len(result_dict_ablation_experiment_metrics[k]['f1'])

In [5]:
def make_max_bold(col):
	if col.name in METRICS:
		is_max = col == col.max()
	else:
		is_max = [False for _ in range(len(col))]
	return [f'font-weight: bold; background-color: purple' if cell else '' for cell in is_max]

def make_min_bold(col):
	if col.name in METRICS:
		is_max = col == col.min()
	else:
		is_max = [False for _ in range(len(col))]
	return [f'font-weight: bold; background-color: purple' if cell else '' for cell in is_max]

In [6]:
df_r_experiment_recap = pd.DataFrame(boostratped_dict_full_fine_tune | boostratped_dict_lora_r_experiments).T
df_r_experiment_recap.style.apply(make_max_bold)

In [7]:
df_lora_ablation_recap = pd.DataFrame(boostratped_dict_full_fine_tune | boostratped_dict_lora_ablation_experiments).T
df_lora_ablation_recap.style.apply(make_max_bold)